{% extends "Base.html" %}


{% block conteudo %}
<div class="marg">
    <p class="font2_tit" style="text-align: center;">
        Home <br> <br>
        Bem Vindo!
    </p>
    <p>
        Aqui você vai encontrar desde informações pessoais até os trabalhos já feitos por
        mim. <br>
        Você pode navegar pelas telas através da barra de navegação na parte superior da tela. <br>
        Se quiser entrar em contato, basta ir até a página <a class="alink" href="Other">"Contato"</a>. <br>
        Caso queira me conhecer melhor minha jornada através de uma linha do tempo, vá para <a class="alink"
            href="Port">"Portfólio"</a>. <br>
        E se estiver a fim de algumas informações mais pessoais, vá para <a class="alink" href="Prs">"Info"</a>. <br>
    </p>
    <div>
        <img src="static/img/eu_anjo.jpeg" alt="Eu com filtro de anjo" style="max-width: 50%; max-height: 50%; filter: grayscale(75%);" >
        <p></p>
    </div>
</div>
{% endblock %}



</html>