{% extends "Base.html" %}

{% block conteudo %}
<div>
    <p class="font2_tit" style="text-align: center;">
        Esse é meu portfólio detalhado!
    </p>
</div>
<br>
<div class="timeline">
    <div class="containerA leftA">
        <div class="conteudo">
            <h2>2008</h2>
            <p>
                Foi o meu primeiro ano do Ensino Fundamental, que eu fiz no Centro Educacional Pedro Ernesto, uma escola
                pequena no meu bairro, que fechou alguns anos após eu sair de lá.
            </p>
        </div>
    </div>
    <div class="containerA rightA">
        <div class="conteudo">
            <h2>2009</h2>
            <p>
                Eu mudei para a escola que passei o resto do meu perído do Ensino Fundamental, o SESI de Jacareí.
            </p>
        </div>
    </div>
    <div class="containerA leftA">
        <div class="conteudo">
            <h2>2015</h2>
            <p>
                O ano que comecei minhas aulas de inglês, em Jacareí, no meu bairro. <br>
                *Nota: Os professores foram sempre os mesmos, mas a instituição na qual eu estudei passou por algumas
                adversidades e mudou de nome, antes de fechar definitivamente: <br>
                2015 -> One Way Línguas <br>
                2020 -> Global Línguas <br>
                2021 -> Aulas Particulares (mesmos professores)
            </p>
        </div>
    </div>
    <div class="containerA rightA">
        <div class="conteudo">
            <h2>2018</h2>
            <p>
                Eu escrevi e dirigi uma peça de teatro, ideia proposta pelo professor de Lingua Portuguesa: uma
                releitura de "Auto da Barca do Inferno". <br>
                Foi a primeira vez que eu tive que lidar, definitivamente, com situações que exigiam decisões e
                programação bem estruturadas, já que eu fui o responsável pela escolha dos atores, figurinos, cenários,
                sonoplastia e ensaios, o que jamais conseguiria fazer sem auxílio(trabalhar em equipe é indispensável).
            </p>
        </div>
    </div>
    <div class="containerA leftA">
        <div class="conteudo">
            <h2>2019</h2>
            <p>
                Surgiu um novo projeto na escola, iniciado pelo professor de Inglês, que consistia em criar bandas
                musicais para os eventos que a escola fazia. Eu fui escolhido para liderar a banda da minha turma (2º
                ano EM). Ninguém foi obrigado a participar, afinal de contas, era um projeto extra. Como líder eu fui
                aquele que escolheu, baseado nas opiniões da banda e dos alunos da escola, as músicas que tocaríamos. O
                maior aprendizado dessa experiência veio através do erro. Um dos membros tinha apenas interesse em
                faltar aulas para o ensaio, que nem sempre podiam ser na aula de janela, e até faltou no dia da
                apresentação(nem sempre as pessoas estão dispostas à se dedicarem para algo).
            </p>
        </div>
    </div>
    <div class="containerA rightA">
        <div class="conteudo">
            <h2>2019</h2>
            <p>
                Início do Curso Técnico em Química, via ensino articulado: Ensino Médio no SESI(manhã) e Técnico no
                SENAI(tarde).
            </p>
        </div>
    </div>
    <div class="containerA leftA">
        <div class="conteudo">
            <h2>2020</h2>
            <p>
                Nesse ano eu desenvolvi três projetos pelo SESI: <br>
                1 - Projeto Meu Amigo Leitor: Um preparativo para vestibulares, onde eu e o professor de português
                discutímos sobre o livro "Sobrevivendo no Inferno", dos Racionais. Caso tenha se interessado: <a
                    href="https://www.youtube.com/watch?v=r2f6oJaNP4A">Projeto ENEM- Meu amigo leitor Parte III</a>.
                <br>
                2 - 4º Festival Nacional Curta no Celular - "Animação e Projeção na Escola": Um projeto conjunto com
                membros da produção "Tito e os Pássaros", onde os participantes foram apresentados às curta metragens e
                à animação frame a frame, pelo Photoshop. Foi basicamente um curso sobre edição, tendo como finalização
                a produção de um curta metragem. <br>
                3 - Os Bastidores do RAP: Um projeto integrador que eu desenvolvi com mais dois colegas, voltado para a
                quebra de preconceito com o RAP. Trabalhamos com o 6º ano do Ensino Fundamental do SESI, onde produzimos
                uma música durante uma semana.
            </p>
        </div>
    </div>
    <div class="containerA rightA">
        <div class="conteudo">
            <h2>2020</h2>
            <p>
                Ano de formatura! Tanto do Ensino Médio quanto do Técnico em Química. E junto com o término do curso
                técnico veio o TCC: "Tratamento de Efluentes para a Diminuição da Concentração de Fósforo nos Resíduos
                da Indústria de Lacticínios"
            </p>
        </div>
    </div>
    <div class="containerA leftA">
        <div class="conteudo">
            <h2>2021</h2>
            <p>
                Curso preparatório para vestibulares, online, pela Descomplica.
            </p>
        </div>
    </div>
    <div class="containerA rightA">
        <div class="conteudo">
            <h2>2022</h2>
            <p>
                No segundo semestre desse ano começou minha jornada definitva com programação, quando entrei para o
                curso de Desenvolvimento de Softwares Multiplataformas, na FATEC São José dos Campos.
            </p>
        </div>
    </div>
    <div class="containerA leftA">
        <div class="conteudo">
            <h2>2022</h2>
            <p>
                No primeiro semestre da faculdade eu fiz, em conjunto com colegas, um sistema de Internet Banking
                chamado Py.nk. Ele pode ser acessado pelo <a href="https://github.com/pynkAPI/API-1-DSM_22"> GitHub</a>
            </p>
        </div>
    </div>
</div>


{% endblock %}


</html>