{% extends "Base.html" %}
{% block conteudo %}
<div>
    <p class="font2_tit" style="text-align: center;">
        Informações Pessoais
    </p>
</div>
<br>
<div>
    <h5> Aqui você vai encontrar minhas informações mais pessoais </h5>
</div>
<br>
<div>
    <p> Nome Completo: Augusto Henrique Buin <br>
        Data de Nascimento: 21/02/2003 <br>
        Localização: Jacareí, São Paulo <br>
        Discord: L0rdAkira#3183 <br>
        LoL: Lun4r1DoS0l <br>
        <a class="alink" href="https://www.instagram.com/augusto_buin/"> Instagram </a> <br>
        <a class="alink" href="https://twitter.com/AugustoBuin"> Twitter </a> <br>
        <a class="alink" href="https://github.com/AugustoBuin"> GitHub </a>
    </p>
    <p>
        TxT
    </p>
    <h4>Algumas fotos Minhas</h4>
</div> 
<br>
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="margin: auto; max-width: 50%; max-height: 50%; ">
    <div class="carousel-inner" >
      <div class="carousel-item active">
        <img class="d-block w-100" src="static/img/eu_familia.jpeg" alt="First slide" >
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="static/img/eu_la.jpg" alt="Second slide" >
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="static/img/eu_gi_violão.jpeg" alt="Third slide" >
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="static/img/eu_manos_niver.jpeg" alt="Fourth slide" >
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="static/img/eu_manos_pynk.jpeg" alt="Fifth slide" >
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="static/img/eu_guilda_old.jpeg" alt="Sixth slide" >
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
{% endblock %}

</html>