{% extends "Base.html" %}


{% block conteudo %}
<div class="marg">
    <p class="font2_tit" style="text-align: center;">
        Home <br> <br>
        Bem Vindo!
    </p>
    <p>
        Aqui você vai encontrar desde informações pessoais até os trabalhos já feitos por
        mim. <br>
        Você pode navegar pelas telas através da barra de navegação na parte superior da tela. <br>
        Se quiser entrar em contato, basta ir até a página <a class="alink" href="Other">"Contato"</a>. <br>
        Caso queira me conhecer melhor minha jornada através de uma linha do tempo, vá para <a class="alink"
            href="Timeline">"Timeline"</a>. <br>
        E se estiver a fim de algumas informações mais pessoais, vá para <a class="alink" href="Prs">"Info"</a>. <br>
        Para ver os meu trabalhos na área da programação, basta ir até a aba <a class="alink"
            href="Port">"Portfólio"</a>.
    </p>
    <br><br>
</div>
<div class="media">
    <img class="img_Leu" src="static/img/eu_anjo.jpeg" alt="Eu com filtro de anjo" style=" filter: grayscale(75%);">
    <div class="media-body">
        <h4>Sobre Mim</h4>
        <p>
            Me chamo Augusto e iniciei minha jornada como desenvolvedor no segundo semestre de 2022, pela FATEC SJC! Sou
            apaixonado pela cultura geek e um otaku de carteirinha, além de gamer e músico. Antes de mergulhar no mundo
            da programação, eu fiz um Técnico em Química pelo SENAI Jacareí, mas resolvi mudar de área pela beleza dessa
            tal programação! <br>

            Comecei na música com aproximadamente 8 anos de idade, e toco desde então. Atualmente eu venho dando aulas
            de música. Caso esteja interessado, é só mandar uma mensagem pelo <a class="alink"
                href="https://www.instagram.com/augusto_buin/"> Instagram </a>. <br>

            Meus jogos favoritos são Minecraft, League of Legends e Epic Conquest, mas sou do tipo que gosta de
            experimentar novos jogos. E passei a maior parte da minha infância de forma um pouco diferente. Sempre fui
            apaixonado por Space Invaders, Gain Ground e Mario. <br>

            Meu anime favorito é Sword Art Online, e gosto de manter uma lista com todos os animes vi nos últimos anos,
            então estou sempre pronto pra fazer recomendações! Já cheguei até a fazer um cosplay do Kirito, em 2017. E
            não só de animes vive um homem, mas também de mangás! De forma resumida, eu adoro a cultura japonesa. <br>

            Um filme favorito já é mais difícil de escolher, existem tantos... Desde que meu pai me ensinou a gostar de
            antiguidades, não consegui largá-las mais. Amo Star Wars, Lost in Space e Land of the Lost. Também vi muitos
            desenhos que meu pai assistia em sua infância, como Pepe Legal, Toro e Pancho e A Pantera Cor-de-Rosa. <br>
        </p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm" style="width: 18rem;">
                <img class="card-img-top" alt="Darth Vader" src="static/img/darth-vader.png">
                <div class="card-body">
                    <p class="card-text">Certamente meu personagem favorito de Star Wars</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm" style="width: 18rem;">
                <img class="card-img-top" alt="Epic Conquest" src="static/img/Epic_conquest.png">
                <div class="card-body">
                    <p class="card-text">Epic Conquest, um dos melhores jogos mobile que já joguei. É um RPG com uma
                        história incrível e uma jogabilidade fantástica</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm" style="width: 18rem;">
                <img class="card-img-top" alt="Pepe Legal" src="static/img/pepe_legal.png">
                <div class="card-body">
                    <p class="card-text">Pepe Legal e seu fiel ajudante Babalu</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm" style="width: 18rem;">
                <img class="card-img-top" alt="Kirito e Asuna" src="static/img/kirito_asuna.png">
                <div class="card-body">
                    <p class="card-text">Kazuto "Kirito" Kirigaya e Asuna Yuuki, protagonistas de Sword Art Online, um isekai(gênero)</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm" style="width: 18rem;">
                <img class="card-img-top" alt="Darth Vader" src="static/img/wild_rift.png">
                <div class="card-body">
                    <p class="card-text">League of Legends. O jogo é fantástico, mas as Lores são incrivelmente bem
                        feitas</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm" style="width: 18rem;">
                <img class="card-img-top" alt="Eu sou do Rock" src="static/img/rock.jpg">
                <div class="card-body">
                    <p class="card-text">Caso queiram saber meu gosto pra música</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}



</html>