{% extends "Base.html" %}
{% block conteudo %}
<div>
    <p class="font2_tit" style="text-align: center;">
        Outras Informações
    </p>
    <br>
</div>
<div class="media">
    <img class="img_eu" src="static/img/eu_chapeu.jpg" alt="Eu com o chapéu do Zenitsu">
    <div class="media-body">
        <h5 class="mt-0">Formas de Contato</h5>
        Caso queira entrar em contato, basta mandar um email para o seguinte endereço: <a class="alink"
            href="mailto:augusto.henrique.buin+port@gmail.com"> augusto.henrique.buin+port@gmail.com </a> <br>
        Ou mande mensage pelo instagram! <a class="alink" href="https://www.instagram.com/augusto_buin/"> @augusto_buin </a> <br>
    </div>
</div>
<div>
    <p>

    </p>
</div>
{% endblock %}

</html>