{% extends "Base.html" %}
{% block conteudo %}
<div class="font2_tit" style="text-align: center;">
    <h3> Meus projetos até então</h3>
</div>
<div class="card" style="width: 18rem; text-align: center; background-color: darkslateblue; color: aliceblue;">
    <div class="card-body">
        <h5 class="card-title">Py.nk</h5>
        <h6 class="card-subtitle mb-2" style="color: cornsilk;">Internet Banking</h6>
        <p class="card-text">Um sistema de Internet Banking como uma página web</p>
        <a class="alink" href="https://github.com/pynkAPI/API-1-DSM_22"> GitHub</a>
    </div>
</div>
<div class="font2_tit" style="text-align: center; font-size: small;">
    <h5> Ainda haverão mais projetos!!</h5>
</div>
{% endblock %}

</html>